<div class="container mt-5 ml-0 mx-auto">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col" class="col">Name</th>
                <th scope="col">Bonding type</th>
                <th scope="col">Email</th>
                <th scope="col">Identification document</th>
                <th scope="col">Vehicule type</th>
                <th scope="col">Model reference</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{userView.name}}</td>
                <td>{{userView.bonding_type}}</td>
                <td>{{userView.email}}</td>
                <td>{{userView.identification_document}}</td>
                <td>{{userView.vehicule_type}}</td>
                <td>{{userView.model_reference}}</td>
                <td>{{userView.description}}</td>
                <td class="center col-2">
                    <span class="fa fa-trash btn btn-outline-danger p-1 mx-1" (click)="onDeleteUser()"></span>
                    <span class="fa fa-edit btn btn-outline-warning p-1" (click)='onUpdateUser()'></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>